@-moz-document url(http://yoursplunkinstall.local:8443) {
  body {
    background-color: black;
    color: red;
}
h3,p,span {
    color: red!important;
}
.main-section-body {
    color: red;
}
/* Dashboard things */
text.single-result {
    fill: rgb(150,0,0)!important;
}
.highcharts-container>svg>text {
    fill: rgb(150,0,0)!important;
}
li[class^="message warn"] {
    color: red;
}
div[class^="view---pages-enterprise-"] {
    background-color: black !important;
}
div[class^="view---modules-nav-enter"] {
    background-color: black;
}
div[class^="copyright---modules-nav-enter"] {
    color: red;
}
h1.ManagerPageTitle {
    color: red;
}
.table-chrome.table-striped>tbody>tr:nth-child(2n)>td,
.table-chrome.table-striped>tbody>tr:nth-child(odd)>td {
    background-color: black;
}
.ManagerBar,
div.dataInputsWrapper {
    background-color: black;
}
div[class^="body---pages-"] {
    background-color: black;
}
div[class^="body---modules-nav-enter"] {
    background-color: black;
}
div.main-section {
    background-color: black;
}
ul[class^="appsList---"] {
    background-color: black;
}
ul[class^="menu---"] {
	background-color: black;

}
a.dropdown-toggle.btn-pill,
a.zoomOut.btn-pill,
a.zoomIn.btn-pill,
a.selectAll.btn-pill {
    color: red;
}
td.details,
td.expands.disabled,
td.expands
{
    background-color: black!important;
}
tr.datamodelmanager-components-datamodelrow {
    background-color: black;
}
div.esHome.splunk-components {
    background-color: black;
}
div.section-content.search-initialhelp {
    background-color: black;
}
h2[class^="view---pages-enterprise-"] {
    background-color: black;
}
th[class^="col-"] {
    background-color: black !important;
}
td[class^="col-"] {
    background-color: black !important;
}
span.data-model-title {
    color: red;
}
span.link-label {
    color: red;
}
div.main-section-body {
    background-color: black;
}
.dashboard-body {
    background-color: black;
}
.nav-tabs>li>a {
    background-color: black;
}
div.tab-content {
    background-color: black;
}
.panel-title {
    background-color: black;
}
.search-results .tab-content {
    background-color: black;
}
.dashboard-panel.with-title {
	background-color: black;
}
.events-controls-inner {
    background-color: black;
}

.highcharts-container {
    background-color: black;
}
.highcharts-background {
    background-color: black;
    fill: rgb(0, 0, 0);
}
#radialGauge path {
   stroke: rgb(150, 0, 0 )
}
a.edit-export-pdf,
a.edit-schedule-pdf,
a.edit-print {
    background-color: black;
}
.nav-tabs,
.nav-tabs>li:before,
a.btn.edit-btn,
a.btn.edit-export,
a.btn.edit-export.active,
a.btn.edit-other,
.table-chrome>thead>tr>th {
    background-image: linear-gradient(180deg, #0A0A0A, #000000)
}
.dropdown-menu.dropdown-menu-medium.shared-resultstabledrilldownpoptart.open {
    background-color: black;
}
.search-results-statisticspane-statisticscontrols .statistics-controls-inner {
    background-color: black;
}
th.sorts.numeric,
th.sorts {
    border-color: black;
}
.table-chrome .sorts:hover, .table-chrome .sorts a {
    background-color: black;
    color: red;
}
.table caption+thead tr:first-child th {
    background-color: black;
}
thead {
    background-color: black;
}
tr {
    background-color: black;
}
.table caption+thead tr:first-child td, .table caption+thead tr:first-child th, .table colgroup+thead tr:first-child td, .table colgroup+thead tr:first-child th, .table thead:first-child tr:first-child td, .table thead:first-child tr:first-child t {
    background-color: black;
}
.btn-col-format.suppress-sort.pull-right {
    background-color: black;
}
.dropdown-menu li.info {
    background-color: black;
}
.dropdown-menu li>a.primary-link {
    background-color: black;
}
.dropdown-menu li>a.secondary-link {
    background-color: black;
}
.dropdown-menu li>a.secondary-link {
	background-color: black;
}
.main-section-body {
    background-color: black;
}
#ui-date-picker {
    background-color: black;
}
.table-chrome.table-striped>tbody>tr.even>td {
	background-color: black;
}
.nav-tabs>.active {
    background-color: black;
}
.nav-tabs {
    background-color: black;
}
.nav-tabs>.active:hover {
    background-color: black;
}
.nav-tabs>li {
    background-color: black;
}
.search-results-shared-basetab active {
	background-color: black;
}
.table {
    background-color: black;
}
.nav-tabs>li>a {
    background-color: black;
}
.table-chrome.table-striped>tbody>tr.odd>td {
	background-color: black;
}
span[class^="label---pages-enterprise"] {
	background-color: black;
    color: red;
}
[class^="view---pages-enterprise"] {
	background-color: black;
    color: red;
}
span.field {
    color: grey;
}
.shared-eventsviewer ul.condensed-selected-fields li .f-v, .shared-eventsviewer ul.condensed-selected-fields li .more-fields {
    color: red;
}
.nav---pages-enterprise---6-6-1---4cal7 {
	background-color: black;
    color: #FFF;
}
td.numeric {
    background-color: black;
    color: red !important;
}
h2.panel-title {
    background-color: black;
    color: red;
}
h2.dashboard-title.dashboard-header-title {
    background-color: black;
    color: red;
}
td.string {
    background-color: black;
    color: red !important;
}
table {
    background-color: black;
}
.table-chrome>thead>tr>th {
    background-color: black;
}
a[class^="link---pages-enterprise---"] {
	color: red;
}
.stop.btn-pill.btn-square.shared-jobcontrols-stop,
.icon-pause,
.icon-paintbrush,
.icon-share,
.icon-print,
.icon-export,
.alert.alert-error {
    color: red;
}
.close-report.btn-pill.search-actions-close {
    color: red;
}
/* Title */
h2.section-title {
    color: red;
}
label {
    color: red;
}
a.time-toggle {
    color: red;
}
/* Enterprise Security */
div.panel-element-row {
    background-color: black;
}
span[class^="urgency-btn"] {
    color: black!important;
}
span[class^="ir-urgency"] {
    color: red;
}
td[class^="ir-field"] {
    color: red;
}
tr[class^="sa-threat"] {
    background-color: black;
}
td.event,
td.ir-header {
    background-color: black;
}
table.ir-table-no-row-border {
    color: red;
}
/* Reports */
p.section-description {
    color: red;
}
i.icon-triangle-right-small,
i.icon-triangle-down-small {
    color: red;
}
td.title>a {
    color: red;
}
/* Results */
.status.shared-jobstatus-count {
    color: red;
}
div.results-wrapper {
    background-color: black;
}
._time.ir-veritcal-align,
.ir-veritcal-align {
    color: red;
}
span.caret {
    color: red;
}
div.investigation-bar.no-print {
    background-color: black;
}
/* Permissions */
tr.Everyone {;
    color: red;
}
tr[class^="role_"] {
    color: red;
}
.view---pages-enterprise---6-6-1---N_G2D {
    background-color: black;
}
/* Bottom */
div[class^="copyright---pages-enterprise-"] {
    background-color: black;
}
footer>div>div>a {
    color: red!important;
}
#about {
    color: red!important;
}
}
